<p>This is the videos view.</p>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Facebook</a></li>
        <li><a href=>Other</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="query" placeholder="Search">
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-hide="videos">
  <h4 align="center"><span class="glyphicon glyphicon-refresh"></span> Loading the aswesome!</h4>
</div>

<ul class="media-list">
  <li class="media" ng-repeat="(index, video) in videos | filter:query | paginationFilter:startIndex:endIndex">
    <a class="pull-left" href="javascript:" ng-click="watch(video)">
      <img class="media-object" src="{{video.picture}}" onerror="this.onerror=null;this.src='images/yeoman.png'" alt="Bild">
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{index}}</h4>
      {{video.title}}
    </div>
  </li>
</ul>

<ul class="pager" ng-show="(videos | filter:query).length > 10">
  <li class="previous" ng-show="startIndex != 0" ng-click="newer()"><a href="javascript:">&larr; Newer</a></li>
  <li class="next"  ng-show="endIndex < videos.length-1" ng-click="older()"><a href="javascript:">Older &rarr;</a></li>
</ul>
